.page {
  scroll-behavior: smooth;
  padding-bottom: 20px;
}

.page__body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --light-blue: #6da4db;
  --blue: #004ba8;
  --gray: #4a525a;
  --dark-gray: #24272b;
  --black: #07070a;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  background-color: var(--light-blue);

}

.header__container {
  max-width: 1000px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: space-between;
}

.nav__list-link {
  display: block;
  box-sizing: border-box;
  height: 50px;
  width: 150px;

  text-decoration: none;
  color: var(--black);

  text-align: center;
  line-height: 50px;
  transition: background-color ease-in-out 300ms;
  border-radius: 15px;
}

.nav__list-link:hover {
  background-color: var(--blue);
}

.main {
  height: 100%;
}

.main__title {

}

.main__title--hidden {
  display: none;
}

.photo {
  max-width: 300px;
}

.code__code {
  display: block;
  width: 80%;
  margin: 0 auto;
  background-color: var(--gray);
  border-radius: 5px;
  color: #fff;
}

.footer {

}

.footer__container {
  display: flex;
  max-height: 100px;
  align-items: center;
}

.footer__link {
  display: block;
  height: 100%;
  flex-grow: 1;
}

.footer__link--school {
  margin-left: 100%;
}

.footer__image {
  display: block;
  max-height: 70px;
} 
